* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--tg-theme-bg-color);
    color-scheme: var(--tg-color-scheme);
}

.App {
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;

	.inpTest {
		width: 80%;

		&:hover {
			outline: 1px solid purple !important;
			border: 1px solid purple !important;
		}
	}
}