* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--tg-theme-bg-color);
    color-scheme: var(--tg-color-scheme);
}

.App {

	.inpTest {
		width: 80%;
	}
}